.hero {
    max-width: 1200px;
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero-text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.hero-image {
    width: 50%;
}

.hero-title {
    font-size: 3rem;
    font-weight: bold;
}

.hero-text {
    font-size: 1.5rem;
    font-weight: 400;
    opacity: 0.75;
}

.hero-button {
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .hero {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .hero-image {
        width: 100%;
    }
    .hero-text-container {
        width: 100%;
    }
    .hero-title {
        font-size: 2rem;
        font-weight: 700;
    }
    
    .hero-text {
        font-size: 1rem;
        font-weight: 400;
        opacity: 0.75;
    }
}

.features-container {
    background: white;
    padding: 40px 0;
}

.features {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    width: calc(100% - 40px);
    margin: 40px auto;
    gap: 100px;
}

.feature-image {
    width: 30%;
}

.feature {
    display: flex;
    gap: 40px;
    align-items: center;
}

.feature:nth-child(2) {
    flex-direction: row-reverse;
}

.feature-text-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feature-title {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
}

.feature-text {
    font-size: 1.25rem;
    font-weight: 400;
    opacity: 0.75;
}

@media screen and (max-width: 600px) {
    .features {
        align-items: center;
    }

    .feature {
        flex-direction: column;
    }

    .feature:nth-child(2) {
        flex-direction: column;
    }

    .feature-image {
        width: 75%;
    }

    .feature-text-container {
        width: 100%;
    }

    .feature-title {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .feature-text {
        font-size: 1rem;
        font-weight: 400;
        opacity: 0.75;
    }
}

.anti-hero {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.anti-hero-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.anti-hero-text {
    font-size: 1.25rem;
    font-weight: 400;
    opacity: 0.75;
}

.anti-hero-button {
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    text-decoration: none;
}

.hero-button:hover, .anti-hero-button:hover {
    background: #ad0000;
}

@media screen and (max-width: 600px) {
    .anti-hero-title {
        font-size: 2rem;
    }

    .anti-hero-text {
        font-size: 1rem;
    }
}