.reminder {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.reminder-title {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.reminder-delete {
    cursor: pointer;
}